
        <header class="header_area" *ngIf="false">
					<div class="container">
					 <div class="row hidden-xs text-center">
								 <ul id="d1" *ngIf="mydata">
										 <li *ngFor="let language of mainLang" [class.languageSelected]="language.value === selectedLanguage" (click)="onLanguageSelect(language.value)"><a>{{language.text}}</a></li>
										 <li><a><i class="fa fa-th-list" data-toggle="modal" data-target="#myModal"></i></a></li>
										 </ul>
					 </div>
								</div>
						
								<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
									<div style="display: table; line-height: 50px;">
										<a routerLink="/home"><img src="assets/image/favicon.png" alt="logo"></a>
										<label class="logoText"><span>A</span><span class="hidden-xs hidden-sm hidden-md">ssociation For </span><span>E</span> <span class="hidden-xs hidden-sm hidden-md">ducational </span>  <span>R</span> <span class="hidden-xs hidden-sm hidden-md">eforms</span></label>
									  </div>
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
									  <span class="navbar-toggler-icon"></span>
									</button>
									<div class="collapse navbar-collapse" id="navbarNav">
									  <ul class="navbar-nav ml-auto" *ngIf="mydata">
										<li *ngFor="let menu of mydata.menus" class="nav-item active"><a [routerLink]="menu.value" class="nav-link" style="cursor: pointer;">{{menu.text}}</a></li>
									  </ul>
									</div>
								  </nav>
					</header>
				<div class="routerDiv">
					<router-outlet></router-outlet>
				</div>
				<footer class="footer-area" *ngIf="false">
						<div class="container">
							<div class="row footer-bottom d-flex justify-content-between align-items-center">
								<div class="col-lg-8 col-sm-6 col-sm-push-6 footer-social">
									<a href="https://www.facebook.com/aerglobal.org/" target="_blank"><i class="fa fa-facebook" style="color: #3b579d"></i></a>
									<a href="https://twitter.com/AERGlobal" target="_blank"><i class="fa fa-twitter" style="color: #38A1F3"></i></a>
									<a href="https://www.linkedin.com/company/aerglobal/" target="_blank"><i class="fa fa-linkedin" style="color: #0077b5"></i></a>
									<a href="https://www.youtube.com/channel/UCcDxF8bXcW1U_KvUBro0I2Q" target="_blank"><i class="fa fa-youtube" style="color: #f00"></i></a>
								</div>
								<p class="col-lg-4 col-sm-6 col-sm-pull-6 footer-text">
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
							</div>
						</div>
				</footer>



